{% extends "posts/post_base.html" %}
{% block post_content %}
<div class="row">
	{% if posts.count == 0 %}
	<h2>No Tasks yet!</h2>
	{% else %}
	<h2 style="color: #4fc930;"> List of all the tasks from every Project </h2>
  <table class="table table-striped" style="margin-top: 20px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Deadline</th>
				<th scope="col">Priority</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
				<th scope="col">Project</th>
      </tr>
    </thead>

    <tbody>
		{% for post in post_list %}
    <tr>
			{% include "posts/_post.html" %}
			<td>
				{{ post.group.name }}
			</td>
    </tr>
		{% endfor %}
    </tbody>
  </table>

	{% endif %}

	{% if user.is_authenticated %}
  <a href="{% url 'posts:create' %}" class="btn btn-warning" role="button" style="margin-top:40px;"><span class="fa fa-plus"></span> Create New Task!</a>
	{% endif %}
</div>
{% endblock %}
