{% extends "posts/post_base.html" %}

{% load bootstrap4 %}

{% block post_content %}
{% if not form.instance.pk %}
<h4>Create New Task</h4>
<form method="POST" action="{% url 'posts:create' %}" id="postForm">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button type="submit" class="btn btn-primary btn-large">Create</button>
	{% endbuttons %}
</form>

{% else%}
<h4>Update Task</h4>
<form method="POST" action="{% url 'posts:update' pk=post.pk %}">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button type="submit" class="btn btn-primary btn-large">Update</button>
	{% endbuttons %}
</form>

{% endif %}
{% endblock %}
