{% extends "posts/post_base.html" %}

{% block prepost %}
<div class="col-md-4">
	<h1>{{ post_user.username }}</h1>
	<p>Task History</p>
</div>
{% endblock %}

{% block post_content %}
<table class="table table-striped" style="margin-top: 20px;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Deadline</th>
      <th scope="col">Priority</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
      <th scope="col">Project</th>
    </tr>
  </thead>

<div class="col-md-8">
	    {% for post in post_list %}
		    {% include "posts/_post.html" %}
        <td>
  				{{ post.group.name }}
  			</td>
	    {% endfor %}

</div>
</table>
{% endblock %}
